<div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg24.jpg') ;">
            </div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title"><h1> Méthodologie </h1></h2>
                        
                    </div>
                </div>
            </div>
        </div>
        
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2> A l'attention de nos utilisateurs : </h2>
                            <h3>Methode de calcul pour les produit: </h3>
<p>On a prit l'émission moyenne des familles de porduits disponibles sur l'ADEME.</p>
<p>On à attribué des coeficient aux marques en fonction de leurs impact environnemental (Energie/Ressources/chimie, réalisée par Greenpeace.) </p>
<p>Ensuite on a crée un alogorythme qui prend l'emission moyenne d'une famille de produit, au quelle on ajoute le coefficient de marque pour obtenir le resultat final. </p>
<p>Ce mode de calcul est uniquement basé sur la technique; ce qui est important a THP. </p>
<p>A terme nous voulons remplir la base de donnée avec les donnée constructeurs. </p>
<br>
<h3>Methode de calcul pour le transport: </h3>
<p>On à simulé sur le site la Poste.fr l'envoie de plusieur colis. On à fait la moyenne pour obtenir le co2 degager pour 1km</p>
<p>Grace à l'api MapBox, nous avons la distance entre les entrepots d'Amzon jusqu'a l'adresse du client (renseigné par l'utlisateur)</p>
<p>On recupere cette valeur qui une fois associé à la moyenne de co2 par km nous donne le resultat de l'emission total du produit</>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



           