<h1> A l'attention de nos utilisateurs </h1>

<h2>Methode de calcul pour les produit: </h2>
<h3>On a prit l'émission moyenne des familles de porduits disponibles sur l'ADEME.</h3>
<h3>On à attribué des coeficient aux marques en fonction de leurs impact environnemental (Energie/Ressources/chimie, réalisée par Greenpeace.) </h3>
<h3>Ensuite on a crée un alogorythme qui prend l'emission moyenne d'une famille de produit, au quelle on ajoute le coefficient de marque pour obtenir le resultat final. </h3>
<h3>Ce mode de calcul est uniquement basé sur la technique; ce qui est important a THP. </h3>
<h3>A terme nous voulons remplir la base de donnée avec les donnée constructeurs. </h3>
<br>
<h2>Methode de calcul pour le transport: </h2>
<h2>On à simulé sur le site la Poste.fr l'envoie de plusieur colis. On à fait la moyenne pour obtenir le co2 degager pour 1km</h2>
<h2>Grace à l'api MapBox, nous avons la distance entre les entrepots d'Amzon jusqu'a l'adresse du client (renseigné par l'utlisateur)</h2>
<h2>On recupere cette valeur qui une fois associé à la moyenne de co2 par km nous donne le resultat de l'emission total du produit</h2>