<form id="search-form" autocomplete="off" action="product/1">
    <div class="autocomplete" style="width:90%;">
        <input id="myInput" type="text" style="text-align: center" placeholder="Tapes ici le produit que tu veux tester, on s'occupe du reste ...">
    </div>
    <div>
        <input class="img-circle" type="image" src="../../assets/img/logo.png" name=ok >
    </div>            
</form>


                      <div class="autocomplete" style="width:90%;">
                        <input id="myInput" type="text" name="result" placeholder="Quel produit souhaitez vous analyser ?">
                    </div>
                    <div>
                         <input class="img-circle" type="image" src="../../assets/img/logo.png" name=ok >
                      </div>
                    

                      
                    </form>