<br>
<br>
<br>
<div class="container">
  <div class="card text-center d-flex">
    <%@product.each do |item|%>
        <div class="card-header">
          <%= item.title %>
        </div>
        <div class="card-body">
                <h5 class="card-title"><%= item.description  %></h5>
                
                
                
                <p class="card-text"><%= item.price %></p>
                
          <%=link_to "voir plus", product_path(item),class:"btn btn-info" %>
        </div>
        <hr>
  <%end%>
  </div>
</div>
