
<div class="card bg-dark text-white">
  <img class="card-img" src="https://images.pexels.com/photos/193004/pexels-photo-193004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image">
  <div class="card-img-overlay">
    <h2 class="card-title">Title:    <%= @product.title.capitalize %></h2>
    <h3 class="card-text">Description:  <%= @product.description %></h3>
    <h3 class="card-text">Price:  <%= @product.price %></h3>

  </div>
</div>

<div id = "new-test">
<%= link_to "Test", new_product_foot_print_path(product_id: @product.id) %>
</div>
