<div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg37.jpg') ;">
            </div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Nouveau Foot Print</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="pricing-4">
                <div class="container">

<center>
<%= render 'form', footprint: @footprint %>


<a class="btn btn-primary btn-round" href="/" > Retour </a>
</center>





</div>
