 <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image:  url('../assets/img/bg45.jpg');">
            </div>
        </div>
        <div class="main">
            <div class="contact-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 ml-auto mr-auto">
                            <h2 class="title">Envoyez nous un message</h2>
                            <p class="description">Vous pouvez nous contacter pour avoir n'importe quelle informations. Nous vous recontacterons au plus vite.
                                <br>
                                <br>
                            </p>
                            <form role="form" id="contact-form" method="post">
                                <label>Votre nom</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Votre nom..." aria-label="Your Name...">
                                </div>
                                <label>Email </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Adresse Email ..." aria-label="Email Here...">
                                </div>
                                <label>Téléphone</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Numéro de téléphone...">
                                </div>
                                <div class="form-group">
                                    <label>Votre message</label>
                                    <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                                </div>
                                <div class="submit text-center">
                                    <input type="submit" class="btn btn-primary btn-round btn-lg" value="Contactez nous" />
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5 ml-auto mr-auto">
                            <div class="info info-horizontal mt-5">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons location_pin"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Trouvez nous a nos bureaux</h4>
                                    <p> Station F
                                        <br> 75 Paris,
                                        <br> France
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons tech_mobile"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Appelez nous</h4>
                                    <p> La carbon team
                                        <br> +336 76 23 21 76
                                        <br> Mon - Fri, 8:00-22:00
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="business_briefcase-24 now-ui-icons"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Informations legales</h4>
                                    <p> La carbon team
                                        <br> VAT &middot; EN2341241
                                        <br> IBAN &middot; EN8732ENGB2300099123
                                        <br> Bank &middot; Great Britain Bank
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
