<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Voici votre adresse email : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Voici votre nouvelle adresse email : <%= @resource.email %>.</p>
<% end %>
