<p>Hello <%= @resource.email %>!</p>

<p>Vous avez fait une demande de réinitialisation du mot de passe. Vous pouvez le faire avec le liens ci-dessous</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'etes pas à l'origine de cet requete, ignorer le</p>
<p>Le changement de mot de passe est effectif une fois que vous avez cliquer sur le lien</p>
