<p>Bonjour! <%= @resource.email %>!</p>

<p>En raison d'un nombre considérable de connexion, nous avons l'obligation de suspendre l'interface de connexion pour une courte période.</p>

<p>Veuillez cliquer sur ce site pour débloquer l'accès:</p>

<p><%= link_to 'Déverrouiller votre compte', unlock_url(@resource, unlock_token: @token) %></p>
