
  <footer class="footer-distributed">

			<div class="footer-left">

				<h3 style="font-family: serif;"> <span style="color: black; font-family: serif;">Cats-</span>pictures</h3>

				

				<p class="footer-company-name">The hacking project &copy; 2019</p>
			</div>

			<div class="footer-center">

				<div>
					<i style="color: #FFBBC5"class="fa fa-map-marker"></i>
					<p><span>Bibliotheque Francois Mitterand</span> Paris, France</p>
				</div>

				<div>
					<i style="color: #FFBBC5" class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i style="color: #FFBBC5" class="fa fa-envelope"></i>
					<p>The-E-Project@Gmail.com</p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>A propos de nous</span>
					Nous sommes une super equipe de the hacking project, nos projets sont toujours fait avec amour et bienveillance. 
				</p>

				

			</div>

		</footer>
</div>
