 <footer class="footer bg-primary">
     <div class="">
                            
        <ul class="pull-center">
            <li>
                <a href="#pablo" class="nav-link">
                    Contact
                </a>
            </li>
            <li>
                <a href="#pablo" class="nav-link">
                    Méthologie 
                </a>                           
            </li>
    </div>
</footer>
