 <footer class="footer bg-primary">
     <div class="">
                            
        <ul class="pull-center">
            <li>
                <a href="<%=contact_index_path%>" class="nav-link">
                    Contact
                </a>
            </li>
            <li>
                <a href="<%=  methodologie_index_path%>" class="nav-link">
                    methodologie 
                </a>                           
            </li>
    </div>
</footer>
