
    <!-- Navbar -->
     <% if user_signed_in? %>
     <nav class="navbar navbar-expand-lg bg-secondary semi-transparent fixed-top" color-on-scroll="5">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand " href="/">
                    Carbon print
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="./assets/img/blurred-image-1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item  ">
                    <a class="nav-link "> Bonjour, <%= current_user.first_name %> !</a>
                </li>

                <li class="nav-item">
               
                </li>
                 <li class="nav-item ">
                  <%= link_to "Voir le profil", user_registration_path(current_user),class:"nav-link"%> </li>
                <li class="nav-item ">
                 <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :style=>'color:#FFFFFF;',  class: "nav-link btn btn-primary btn-lg" %></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <% else %>

    <nav class="navbar navbar-expand-lg bg-secondary semi-transparent fixed-top " color-on-scroll="5">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/">
                    Carbon print
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="./assets/img/blurred-image-1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item " >
                     
                 </li>
                     <li class="nav-item active"> <%= link_to "Connexion", user_session_path , class:"nav-link"%></li>

                      <li class="nav-item active "> <a class="nav-link "href="/users/sign_up"> S'inscrire</a></li>
                  
                </ul>
            </div>
        </div>
    </nav>
<% end %>
